.role-toggle {
  margin-bottom: 20px;
}

.role-toggle select {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1.5px solid #e2e8f0;
  background-color: #ffffff;
  color: #1e293b;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  transition: border-color 0.2s;
  margin-top:15px;
}

.role-toggle select:focus {
  border-color: #0b69ff;
}